[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=dimsan
Group=dimsan

WorkingDirectory=/home/dimsan/botinol/
Environment="PYTHONPATH=/home/dimsan/botinol/"
ExecStart=/home/dimsan/botinol/.venv/bin/python /home/dimsan/botinol/botcompot.py
ExecStart=/home/dimsan/botinol/.venv/bin/python /home/dimsan/botinol/live_data.py

[Install]
WantedBy=multi-user.target
